.resume {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .resume .resume_left {
    width: 100%;
  }

  .resume .resume_right {
    width: 100%;
  }

  .resume .resume_left .resume_photo {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resume .resume_left .resume_photo img {
    margin: auto;
  }